<div id="signup-page">
  <div id="signup-content">
    <h2 id="signup-title">Inscription</h2>

    <form [formGroup]="form">
      <div class="input-signup-element">
        <div class="left">
          <h3>Nom :</h3>
          <input formControlName="lastName" placeholder="Last name..." />
        </div>

        <div class="right">
          <h3>Prénom :</h3>
          <input formControlName="firstName" placeholder="First name..." />
        </div>
      </div>

      <div class="input-signup-element">
        <div class="left">
          <h3>Adresse mail :</h3>
          <input formControlName="email" placeholder="E-mail..." />
        </div>
        <div class="right">
          <h3>Mot de passe :</h3>
          <input formControlName="password" placeholder="Password..." />
        </div>
      </div>
    </form>

    <button type="submit" (click)="signupAction()">S'inscrire !</button>
  </div>
</div>
