<div id="signup-page">
  <div id="signup-content">
    <h2 id="signup-title">Inscription</h2>

    <div class="input-signup-element">
      <div class="left">
        <h3>Nom :</h3>
        <input placeholder="Last name..."/>
      </div>

      <div class="right">
        <h3>Prénom :</h3>
        <input placeholder="First name..."/>
      </div>
    </div>

    <div class="input-signup-element">
      <div class="left">
        <h3>Adresse mail :</h3>
        <input placeholder="E-mail..."/>
      </div>
      <div class="right">
        <h3>Mot de passe :</h3>
        <input placeholder="Password..."/>
      </div>
    </div>

    <button>S'inscrire !</button>
  </div>
</div>
