<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div id="head-item">
  <button id="slide" (click) = "slideClick()"><i class="fas fa-bars"></i></button>
  <app-sidebar></app-sidebar>
  <h1>SÉMINAIRES LIRICA</h1>
  <div id="search">
    <div id="search-bar">
      <input placeholder="Search..." />
      <button id="search-button"><i class="fas fa-search"></i></button>
    </div>
    <button id="advanced-search">Recherche avancée</button>
  </div>
</div>
