<div [style.background-color]="statusColor" id="success" [ngClass]="{'slide-down': isAnimationAdded, 'slide-up': !isAnimationAdded}" *ngIf="isAdded"><h2>{{updateMessage}}</h2></div>
<div class="manage-members">
  <h1>Modifications des utilisateurs</h1>
  <div id="manage-titles">
    <div  class="name-title">
      <h2>Nom Complet</h2>
    </div>
    <div class="email-title">
      <h2>Email</h2>
    </div>
    <div class="status-title">
      <h2>Status</h2>
    </div>
    <div class="role-title">
      <h2>Role</h2>
    </div>
    <div class="action-title">
      <h2>Action</h2>
    </div>
  </div>
  <app-user-manage id="app-user-info"
                *ngFor="let user of users; let i = index"
                [user] = "user"
                [remove]="removeUser.bind(this, i)">
  </app-user-manage>
</div>
